@model VmChangePassword

<div class="container forget-password">
    <div class="row">
        <div class="col-md-12 col-md-offset-4">
            <div class="panel panel-default" style="padding: 31% !important; margin-top: -27% !important;">
                <div class="panel-body" style="padding: 13% 15% 15% 15% !important; margin-bottom: -50% !important; background: #fff !important; border-radius: 5px !important; -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important; ">
                    <div class="text-center">
                        <img style="width: 40% !important; margin-bottom: 10% !important;" src="~/img/uncategorized/reset-password.png" alt="Reset" border="0">
                        <h2 class="text-center">Reset Password?</h2>
                        <p>Please enter new password.</p>
                        <form role="form" autocomplete="off" class="form" asp-controller="Account" asp-action="ChangePassword" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    @{ 
                                        if (TempData["pswsyntax"]!=null)
                                        {
                                            <span style="width: 100% !important;" class="text-danger">@(TempData["pswsyntax"] as string)</span>
                                            TempData["pswsyntax"] = null;
                                        }
                                    }
                                    <input style="width: 100% !important;" asp-for="@Model.NewPassword" type="password" placeholder="New Password" class="form-control">
                                    <span style="width: 100% !important;" class="text-danger" asp-validation-for="@Model.NewPassword"></span>
                                    <input asp-for="ResetCode" type="hidden" value="@Model.ResetCode"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <input style=" width: 200px !important; margin-top: 16px !important; color: white !important; background: #abd373 !important; border: none !important; " class="btn btn-lg" value="Save" type="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>