
@model VmResetPassword

@{ 
    if (TempData["ResetError2"]!=null)
    {
        <input id="ResetError2" type="hidden" value="true"/>
        TempData["ResetError2"] = null;
    }
}

<div class="container forget-password">
    <div class="row">
        <div class="col-md-12 col-md-offset-4">
            <div class="panel panel-default" style="padding: 31% !important; margin-top: -27% !important;">
                <div class="panel-body" style="padding: 15% !important; margin-bottom: -50% !important; background: #fff !important; border-radius: 5px !important; -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;">
                    <div class="text-center">
                        <img style="width: 40% !important; margin-bottom: 10% !important;" src="https://usa.afsglobal.org/SSO/SelfPasswordRecovery/images/send_reset_password.svg?v=3" alt="car-key" border="0">
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>Please enter your email.</p>
                        <form role="form" autocomplete="off" class="form" asp-controller="Account" asp-action="ResetPassword" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <input style="width: 100% !important;" asp-for="@Model.Email" type="email" placeholder="Email" class="form-control">
                                    <span style="width: 100% !important;" class="text-danger" asp-validation-for="Email"></span>
                                    <div style="width: 100% !important;" class="text-danger" asp-validation-summary="All"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input style="margin-top: 16px !important; color: white !important; background: #abd373 !important; border: none !important; " class="btn btn-lg" value="Reset Password" type="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>