

<!-- #region Wishlist -->
<div class="wishlist-full pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-remove">remove</th>
                                    <th class="product-thumbnail">images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="product-price">Unit Price</th>
                                    <th class="product-stock-status">Quantity</th>
                                    <th class="cart-btn">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="product-remove">
                                        <a href="#">
                                            <i class="fal fa-times" data-tippy="Remove" data-tippy-inertia="true"
                                               data-tippy-animation="shift-away" data-tippy-delay="50"
                                               data-tippy-arrow="true" data-tippy-theme="sharpborder"></i>
                                        </a>
                                    </td>
                                    <td class="product-thumbnail">
                                        <a href="#">
                                            <img src="~/img/products/product-3.png" alt="Wishlist Thumbnail">
                                        </a>
                                    </td>
                                    <td class="product-name"><a href="#">American Marigold</a></td>
                                    <td class="product-price"><span class="amount">$23.45</span></td>
                                    <td class="quantity">
                                        <div class="cart-action" style="display: inline;">
                                            <input class="cart-action-box" value="1" type="text">
                                            <div class="minus quantity-btn">
                                                <i class="fa fa-minus"></i>
                                            </div>
                                            <div class="plus quantity-btn">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-subtotal"><span class="amount">$23.45</span></td>
                                </tr>
                                <tr>
                                    <td class="product-remove">
                                        <a href="#">
                                            <i class="fal fa-times" data-tippy="Remove" data-tippy-inertia="true"
                                               data-tippy-animation="shift-away" data-tippy-delay="50"
                                               data-tippy-arrow="true" data-tippy-theme="sharpborder"></i>
                                        </a>
                                    </td>
                                    <td class="product-thumbnail">
                                        <a href="#">
                                            <img src="~/img/products/product-4.png" alt="Wishlist Thumbnail">
                                        </a>
                                    </td>
                                    <td class="product-name"><a href="#">Black Eyed Susan</a></td>
                                    <td class="product-price"><span class="amount">$25.45</span></td>
                                    <td class="quantity">
                                        <div class="cart-action" style="display: inline;">
                                            <input class="cart-action-box" value="1" type="text">
                                            <div class="minus quantity-btn">
                                                <i class="fa fa-minus"></i>
                                            </div>
                                            <div class="plus quantity-btn">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-subtotal"><span class="amount">$23.45</span></td>
                                </tr>
                                <tr>
                                    <td class="product-remove">
                                        <a href="#">
                                            <i class="fal fa-times" data-tippy="Remove" data-tippy-inertia="true"
                                               data-tippy-animation="shift-away" data-tippy-delay="50"
                                               data-tippy-arrow="true" data-tippy-theme="sharpborder"></i>
                                        </a>
                                    </td>
                                    <td class="product-thumbnail">
                                        <a href="#">
                                            <img src="~/img/products/product-5.png" alt="Wishlist Thumbnail">
                                        </a>
                                    </td>
                                    <td class="product-name"><a href="#">Bleeding Heart</a></td>
                                    <td class="product-price"><span class="amount">$30.45</span></td>
                                    <td class="quantity">
                                        <div class="cart-action" style="display: inline;">
                                            <input class="cart-action-box" value="1" type="text">
                                            <div class="minus quantity-btn">
                                                <i class="fa fa-minus"></i>
                                            </div>
                                            <div class="plus quantity-btn">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-subtotal"><span class="amount">$23.45</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                <ul>
                                    <li>Subtotal <span>$79.35</span></li>
                                    <li>Total <span>$79.35</span></li>
                                </ul>
                                <a href="#">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- #endregion Wishlist End -->