@model List<IdentityRole>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center" style="font-size: 35px !important; font-weight: 600 !important; color: #3b579d !important; ">Roles</h4>
                <a class="btn btn-primary mb-3 px-5" asp-area="Admin" asp-controller="Account" asp-action="RoleCreate">Create New Role</a>
                @{
                    if (TempData["SocialError"] != null)
                    {
                        <p style="font-size: 20px !important;" class="alert alert-danger">@TempData["SocialError"]</p>

                        TempData["SocialError"] = null;
                    }
                }
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th class="tableTrCustom">
                                    #
                                </th>
                                <th class="tableTrCustom">
                                    Name
                                </th>
                                <th class="tableTrCustom">
                                    Edit
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int counter = 0;
                                foreach (var item in Model)
                                {
                                    counter++;
                                    <tr>
                                        <td style="font-size: 18px !important; font-weight: 500 !important;">
                                            @counter
                                        </td>
                                        <td style="font-size: 18px !important; font-weight: 500 !important;">
                                            @item.Name
                                        </td>
                                        <td>
                                            <a class="mb-2 w-100 btn-sm btn btn-success" asp-route-id="@item.Id" asp-area="Admin" asp-controller="Account" asp-action="RoleUpdate">Update</a>
                                            <br>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
