@model IdentityRole

<div class="container">
    <div class="row my-4">
        <div class="col-lg-10">
            <form class="my-5 p-5" asp-area="Admin" asp-controller="Account" asp-action="RoleCreate" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="@Model.Name" class="form-label">Role Name</label>
                    <input class="form-control" asp-for="@Model.Name">
                    <span class="text-danger" asp-validation-for="@Model.Name"></span>
                </div>

                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>


