@model IdentityRole


<div class="justify-content-center my-4 row">
    <div class="col-lg-10">
        <div class="card">
            <div>
                <h3 class="p-4 text-center">Create New Role</h3>
                <form class="mb-5 px-5" asp-area="Admin" asp-controller="Account" asp-action="RoleCreate" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="col-lg-6 mb-3" style=" margin-left: auto; margin-right: auto;">
                        <label asp-for="@Model.Name" class="form-label">Role Name *</label>
                        <input class="form-control" asp-for="@Model.Name">
                        <span class="text-danger" asp-validation-for="@Model.Name"></span>
                        <div style="text-align: end;">
                            <button type="submit" class="btn btn-light mt-3">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


