@model VmFAQ

<!-- #region FAQ -->
<div class="faq-full pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="frequently-area">
                    <h2 class="heading mb-0">General Question</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="frequently-item">
                                        <ul>
                                            @{
                                                for (int i = 0; i < Model.FAQs.Count; i++)
                                                {
                                                    if (i % 2 == 1)
                                                    {
                                                        <li class="has-sub">
                                                            <a class="faq-open-btn" href="#">
                                                                @Model.FAQs[i].Question
                                                                <i class="fal fa-angle-down"></i>
                                                            </a>
                                                            <ul class="frequently-body">
                                                                <li>
                                                                    @Model.FAQs[i].Answer
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    }
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pt-30 pt-md-0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="frequently-item">
                                        <ul>
                                            @{
                                                for (int i = 0; i < Model.FAQs.Count; i++)
                                                {
                                                    if (i % 2 == 0)
                                                    {
                                                        <li class="has-sub">
                                                            <a class="faq-open-btn" href="#">
                                                                @Model.FAQs[i].Question
                                                                <i class="fal fa-angle-down"></i>
                                                            </a>
                                                            <ul class="frequently-body">
                                                                <li>
                                                                    @Model.FAQs[i].Answer
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    }
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion FAQ End -->