
<!-- #region Single Product -->
<div class="single-product-full pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="single-product-img">
                    <div class="swiper-container single-product-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="img/products/product-1.png" class="single-img gallery-popup">
                                    <img class="img-full" src="~/img/products/product-3.png" alt="Image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="img/products/product-4.png" class="single-img gallery-popup">
                                    <img class="img-full" src="~/img/products/product-4.png" alt="Image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="img/products/product-5.png" class="single-img gallery-popup">
                                    <img class="img-full" src="~/img/products/product-5.png" alt="Image">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="img/products/product-6.png" class="single-img gallery-popup">
                                    <img class="img-full" src="~/img/products/product-6.png" alt="Image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="single-product-img-bottom">
                        <div class="swiper-container single-product-bottom-slider">
                            <div class="swiper-wrapper">
                                <a href="#" class="swiper-slide">
                                    <img class="img-full" src="~/img/products/product-3.png" alt="Product Thumnail">
                                </a>
                                <a href="#" class="swiper-slide">
                                    <img class="img-full" src="~/img/products/product-4.png" alt="Product Thumnail">
                                </a>
                                <a href="#" class="swiper-slide">
                                    <img class="img-full" src="~/img/products/product-5.png" alt="Product Thumnail">
                                </a>
                                <a href="#" class="swiper-slide">
                                    <img class="img-full" src="~/img/products/product-6.png" alt="Product Thumnail">
                                </a>
                            </div>
                            <div class="single-product-img-button-wrap d-none d-md-block">
                                <div class="single-product-img-button-prev">
                                    <i class="fal fa-angle-left"></i>
                                </div>
                                <div class="single-product-img-button-next">
                                    <i class="fal fa-angle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
                <div class="product-info">
                    <h2 class="title">American Marigold</h2>
                    <div class="price-box">
                        <span class="price">$23.45</span>
                    </div>
                    <div class="rating-wrap">
                        <div class="rating">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="review">
                            <a href="#">( 1 Review )</a>
                        </div>
                    </div>
                    <div class="selector-full">
                        <span class="selector-title border-bottom-0">Color</span>
                        <select class="nice-select wide border-bottom-0 rounded-0">
                            <option value="default">Black & White</option>
                            <option value="blue">Blue</option>
                            <option value="green">Green</option>
                            <option value="red">Red</option>
                        </select>
                    </div>
                    <div class="selector-full pb-30">
                        <span class="selector-title">Size</span>
                        <select class="nice-select wide rounded-0">
                            <option value="medium">Medium Size & Poot</option>
                            <option value="large">Large Size With Poot</option>
                            <option value="small">Small Size With Poot</option>
                        </select>
                    </div>
                    <p class="product-desc">
                        Lorem ipsum dolor sit amet, consectetur adipisic elit, sed do eiusmod
                        tempo incid ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate
                    </p>
                    <ul class="single-product-action">
                        <li class="quantity">
                            <div class="cart-action">
                                <form action="">
                                    <input disabled class="cart-action-box" value="1" min="1" max="5" type="text">
                                </form>
                                <div class="minus quantity-btn">
                                    <i class="fal fa-minus"></i>
                                </div>
                                <div class="plus quantity-btn">
                                    <i class="fal fa-plus"></i>
                                </div>
                            </div>
                        </li>
                        <li class="add-to-cart">
                            <a class="btn" href="cart.html">Add to cart</a>
                        </li>
                        <li class="favourite fc">
                            <a class="btn-fc" href="wishlist.html">
                                <i class="fal fa-heart"></i>
                            </a>
                        </li>
                        <li class="product-compare fc">
                            <a href="compare.html">
                                <i class="fal fa-sync-alt"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="service-item-wrap">
                        <li class="service-item">
                            <div class="service-img">
                                <img src="~/img/shipping/shipping-1.png" alt="Shipping Icon">
                            </div>
                            <div class="service-content">
                                <span>Free <br> Shipping</span>
                            </div>
                        </li>
                        <li class="service-item">
                            <div class="service-img">
                                <img src="~/img/shipping/shipping-2.png" alt="Shipping Icon">
                            </div>
                            <div class="service-content">
                                <span>Safe <br> Payment</span>
                            </div>
                        </li>
                        <li class="service-item">
                            <div class="service-img">
                                <img src="~/img/shipping/shipping-3.png" alt="Shipping Icon">
                            </div>
                            <div class="service-content">
                                <span>Safe <br> Payment</span>
                            </div>
                        </li>
                    </ul>
                    <div class="product-explanation">
                        <span class="product-explanation-title">SKU:</span>
                        <ul>
                            <li>
                                <a href="#">Ch-256xl</a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-explanation">
                        <span class="product-explanation-title">Categories :</span>
                        <ul>
                            <li>
                                <a href="#">Office,</a>
                            </li>
                            <li>
                                <a href="#">Home</a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-explanation product-tags">
                        <span class="product-explanation-title">Tags :</span>
                        <ul>
                            <li>
                                <a href="#">Furniture</a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-explanation product-explanation-socials align-items-center pb-0">
                        <span class="product-explanation-title pe-3">Share:</span>
                        <ul>
                            <li>
                                <a href="#" data-tippy="Pinterest" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-tippy="Twitter" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-tippy="Tumblr" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                    <i class="fab fa-tumblr"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-tippy="Dribbble" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                    <i class="fab fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion Single Product End -->
<!-- #region Single Product Description -->
<div class="product-description-full pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav product-tab-nav tab-style-2 pt-0" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="tab-btn" id="information-tab" data-bs-toggle="tab" href="#information" role="tab" aria-controls="information" aria-selected="false">
                            Information
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="active tab-btn" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">
                            Description
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="tab-btn" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">
                            Reviews(3)
                        </a>
                    </li>
                </ul>
                <div class="product-tab-content">
                    <div class="tab-pane fade" id="information" role="tabpanel" aria-labelledby="information-tab">
                        <div class="product-information-body">
                            <h4 class="title">Shipping</h4>
                            <p class="short-desc mb-4">
                                The item will be shipped from China. So it need 15-20 days to
                                deliver. Our product is good with reasonable price and we believe you will worth it.
                                So please wait for it patiently! Thanks.Any question please kindly to contact us and
                                we promise to work hard to help you to solve the problem
                            </p>
                            <h4 class="title">About return request</h4>
                            <p class="short-desc mb-4">
                                If you don't need the item with worry, you can contact us
                                then we will help you to solve the problem, so please close the return request!
                                Thanks
                            </p>
                            <h4 class="title">Guarantee</h4>
                            <p class="short-desc mb-0">
                                If it is the quality question, we will resend or refund to
                                you; If you receive damaged or wrong items, please contact us and attach some
                                pictures about product, we will exchange a new correct item to you after the
                                confirmation.
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                        <div class="product-description-body">
                            <p class="short-desc mb-0">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                do eiusmod tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste
                                natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                                sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                                nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                        <div class="product-review-body">
                            <div class="blog-comment mt-0">
                                <h4 class="heading">Comments (03)</h4>
                                <div class="blog-comment-item">
                                    <div class="blog-comment-img">
                                        <img src="~/img/user/user-4.png" alt="User Image">
                                    </div>
                                    <div class="blog-comment-content">
                                        <div class="user-meta">
                                            <h2 class="user-name">Donald Chavez</h2>
                                            <span class="date">21 July 2021</span>
                                        </div>
                                        <p class="user-comment">
                                            Lorem ipsum dolor sit amet, consectetur adipisi
                                            elit, sed
                                            do eiusmod tempor incidid ut labore etl dolore magna aliqua. Ut enim ad
                                            minim
                                            veniam, quis nostrud exercitati ullamco laboris nisi ut aliquiex ea
                                            commodo
                                            consequat.
                                        </p>
                                        <a class="btn reply-btn" href="#">Reply</a>
                                    </div>
                                </div>
                                <div class="blog-comment-item relpy-item">
                                    <div class="blog-comment-img">
                                        <img src="~/img/user/user-5.png" alt="User Image">
                                    </div>
                                    <div class="blog-comment-content">
                                        <div class="user-meta">
                                            <h2 class="user-name">Marissa Swan</h2>
                                            <span class="date">21 July 2021</span>
                                        </div>
                                        <p class="user-comment">
                                            Lorem ipsum dolor sit amet, consectetur adipisi
                                            elit, sed do
                                            eiusmod tempr incidid ut labore etl dolore magna aliqua. Ut enim ad
                                            minim veniam,
                                            quisnos exercitati ullamco laboris nisi ut aliquiex.
                                        </p>
                                        <a class="btn reply-btn inner-reply-btn" href="#">Reply</a>
                                    </div>
                                </div>
                                <div class="blog-comment-item">
                                    <div class="blog-comment-img">
                                        <img src="~/img/user/user-6.png" alt="User Image">
                                    </div>
                                    <div class="blog-comment-content">
                                        <div class="user-meta">
                                            <h2 class="user-name">Donald Chavez</h2>
                                            <span class="date">21 July 2021</span>
                                        </div>
                                        <p class="user-comment">
                                            Lorem ipsum dolor sit amet, consectetur adipisi
                                            elit, sed
                                            do eiusmod tempor incidid ut labore etl dolore magna aliqua. Ut enim ad
                                            minim
                                            veniam, quis nostrud exercitati ullamco laboris nisi ut aliquiex ea
                                            commodo
                                            consequat.
                                        </p>
                                        <a class="btn reply-btn" href="#">Reply</a>
                                    </div>
                                </div>
                            </div>
                            <div class="feedback-area">
                                <h2 class="heading">Leave a comment</h2>
                                <form class="feedback-form" action="#">
                                    <div class="group-input">
                                        <div class="form-field me-md-30 mb-30 mb-md-0 mr-30">
                                            <input type="text" name="name" placeholder="Your Name*" class="input-field">
                                        </div>
                                        <div class="form-field">
                                            <input type="text" name="email" placeholder="Your Email*" class="input-field">
                                        </div>
                                    </div>
                                    <div class="form-field mt-30">
                                        <input type="text" name="subject" placeholder="Subject (Optinal)" class="input-field">
                                    </div>
                                    <div class="form-field mt-30">
                                        <textarea name="message" placeholder="Message" class="textarea-field"></textarea>
                                    </div>
                                    <div class="form-field-button-wrap pt-5">
                                        <button type="submit" value="submit" class="btn btn-custom-size xl-size btn-pronia-primary" name="submit">
                                            Post
                                            Comment
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion Single Product Description End -->
<!-- #region Related Products-->
<div class="product-full pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="section-title-full">
                <h2 class="section-title">Related Products</h2>
                <p class="section-desc">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                    roots in a piece of classical Latin literature
                </p>
            </div>
            <div class="col-lg-12">
                <div class="swiper-container new-product-slider" style="overflow: hidden;">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide product-item">
                            <div class="product-item-img">
                                <a href="single-product-variable.html">
                                    <img class="primary-img" src="~/img/products/product-12.png" alt="Product Images">
                                    <img class="secondary-img" src="~/img/products/product-17.png" alt="Product Images">
                                </a>
                                <div class="product-add-action">
                                    <ul>
                                        <li>
                                            <a href="wishlist.html" data-tippy="Add to wishlist" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fal fa-heart"></i>
                                            </a>
                                        </li>
                                        <li class="quuickview-btn" data-bs-toggle="modal" data-bs-target="#quickModal">
                                            <a href="#" data-tippy="Quickview" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fal fa-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="cart.html" data-tippy="Add to cart" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fal fa-shopping-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <a class="product-name" href="single-product-variable.html">American Marigold</a>
                                <div class="price-box pb-1">
                                    <span class="new-price">$23.45</span>
                                </div>
                                <div class="rating-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide product-item">
                            <div class="product-item-img">
                                <a href="single-product-variable.html">
                                    <img class="primary-img" src="~/img/products/product-14.png" alt="Product Images">
                                    <img class="secondary-img" src="~/img/products/product-7.png" alt="Product Images">
                                </a>
                                <div class="product-add-action">
                                    <ul>
                                        <li>
                                            <a href="wishlist.html" data-tippy="Add to wishlist" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fal fa-heart"></i>
                                            </a>
                                        </li>
                                        <li class="quuickview-btn" data-bs-toggle="modal" data-bs-target="#quickModal">
                                            <a href="#" data-tippy="Quickview" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fal fa-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="cart.html" data-tippy="Add to cart" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fal fa-shopping-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <a class="product-name" href="single-product-variable.html">American Marigold</a>
                                <div class="price-box pb-1">
                                    <span class="new-price">$23.45</span>
                                </div>
                                <div class="rating-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide product-item">
                            <div class="product-item-img">
                                <a href="single-product-variable.html">
                                    <img class="primary-img" src="~/img/products/product-11.png" alt="Product Images">
                                    <img class="secondary-img" src="~/img/products/product-6.png" alt="Product Images">
                                </a>
                                <div class="product-add-action">
                                    <ul>
                                        <li>
                                            <a href="wishlist.html" data-tippy="Add to wishlist" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fal fa-heart"></i>
                                            </a>
                                        </li>
                                        <li class="quuickview-btn" data-bs-toggle="modal" data-bs-target="#quickModal">
                                            <a href="#" data-tippy="Quickview" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fal fa-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="cart.html" data-tippy="Add to cart" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fal fa-shopping-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <a class="product-name" href="single-product-variable.html">American Marigold</a>
                                <div class="price-box pb-1">
                                    <span class="new-price">$23.45</span>
                                </div>
                                <div class="rating-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide product-item">
                            <div class="product-item-img">
                                <a href="single-product-variable.html">
                                    <img class="primary-img" src="~/img/products/product-5.png" alt="Product Images">
                                    <img class="secondary-img" src="~/img/products/product-15.png" alt="Product Images">
                                </a>
                                <div class="product-add-action">
                                    <ul>
                                        <li>
                                            <a href="wishlist.html" data-tippy="Add to wishlist" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fal fa-heart"></i>
                                            </a>
                                        </li>
                                        <li class="quuickview-btn" data-bs-toggle="modal" data-bs-target="#quickModal">
                                            <a href="#" data-tippy="Quickview" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fal fa-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="cart.html" data-tippy="Add to cart" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fal fa-shopping-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <a class="product-name" href="single-product-variable.html">American Marigold</a>
                                <div class="price-box pb-1">
                                    <span class="new-price">$23.45</span>
                                </div>
                                <div class="rating-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion Related Products End -->
