@model List<OurBrand>

<div class="row justify-content-center">
    <div class="col-lg-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center" style="font-size: 30px !important;">Our Brands</h4>
                @{
                    if (TempData["BrandError"] != null)
                    {
                        <p style="font-size: 20px !important; padding: 15px !important;" class="alert text-center text-warning">@TempData["BrandError"]</p>

                        TempData["BrandError"] = null;
                    }
                }
                <a class="btn btn-light mb-3 px-5" asp-area="Admin" asp-controller="Brand" asp-action="Create">Add New Brand</a>
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th class="tableTrCustom">
                                    #
                                </th>
                                <th class="tableTrCustom">
                                    Image
                                </th>
                                <th class="tableTrCustom">
                                    Edit
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int counter = 0;
                                foreach (var item in Model)
                                {
                                    counter++;
                                    <tr>
                                        <td style="width: 5% !important; vertical-align: middle !important; font-size: 18px !important; font-weight: 500 !important;">
                                            @counter
                                        </td>
                                        <td class="py-1" style="width: 50% !important; vertical-align: middle !important; height: 100px !important;">
                                            <img style="border-radius: unset !important; width: 100% !important; height: 100% !important; object-fit: contain !important;" src="~/img/brand/@item.BrandLogo" alt="image" />
                                        </td>
                                        <td style="width: 20% !important; vertical-align: middle !important; ">
                                            <a class="w-50 btn-sm btn btn-outline-danger" asp-route-id="@item.Id" asp-area="Admin" asp-controller="Brand" asp-action="Delete" onclick="return confirm('Are you sure?')">Delete</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>