@model BlogCategory

<div class="row mt-3">
    <div class="col-lg-6" style="margin-left: auto !important; margin-right: auto !important;">
        <div class="card">
            <div class="card-body">
                <div style=" font-size: 30px !important;" class="text-center card-title">Update Blog Category</div>
                <hr>
                <form class="p-5" asp-area="Admin" asp-controller="BlogCategory" asp-action="Update" method="post">
                    <div class="mb-3">
                        <label asp-for="@Model.CategoryName" class="form-label">Category</label>
                        <input class="form-control" rows="4" asp-for="@Model.CategoryName" placeholder="Write a category..." />
                        <span class="text-warning" asp-validation-for="@Model.CategoryName"></span>
                    </div>
                    <input type="hidden" asp-for="@Model.Id" />
                    <button type="submit" class="btn btn-light col-lg-6 mt-4 offset-6">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>